
:root{
  --color-one: #17252a;
  --color-two: #2b7a78;
  --color-three: #3aafa9;
  --color-four: #def2f1;
  --color-five: #feffff;
  --base-font: ;
}
body{
 color: var(--color-four);
 background: var(--color-three);
}
